/*general settings*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /*sets the default css rules to zero*/
}

html,
body{
    background-color: #fff;
    color:#555;
    font-family: "Laila", "Arial", sans-serif;
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;/*rendering css in a quick manner*/
    overflow-x: hidden; /*makes the extra content not appear when exceeding the width in the x axis*/
    scroll-behavior: smooth;
}

.clearfix{zoom:1} /*clears the float on the parent of an the elements in the grid with childs that have that float property*/
.clearfix:after{
    content:".";
    clear:both;
    display: block;
    height:0;
    visibility: hidden;

}

/*------------------------------*/
/*reusable component*/
/*------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{ padding: 80px 0; }
.box: { padding:1%; }



/*------------------------------*/
/*headings and title text*/
/*------------------------------*/
h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

}
h1{
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size:260%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size:220%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;

}

h3{
    font-size: 120%;
    margin-bottom: 15px;

}

h2:after{           /*setting for element after the defined element*/
    display: block;
    height: 2px;
    background-color: #ee1a00;
    content:"";/*always specify content for pseudoclases*/
    width: 100px;
    margin:0 auto;
    margin-top: 30px;
}

/*------------------------------*/
/*paragraphs */
/*------------------------------*/
.long-food-description,
.health-specs{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.health-specs{ margin-bottom: 50px; }

.box p{
    font-size:80%;
    line-height: 145%;
}

/*-----------------------------*/
/*icons*/
/*-----------------------------*/

.icon-big{
    font-size:350%;
    display:block;
    color: #ee1a00;
    margin-bottom: 10px;

}
.icon-small{
    display: inline-block;
    width:30px;
    text-align:center;
    color:#ff3838;
    font-size: 120%;
    line-height: 120%;/*align text and icons*/
    vertical-align: middle;
    margin-right: 10px;

}

.black{ color:#071818; }

.yellow{ color:#fed330; }


/*-------------------------------*/
/*links*/
/*-----------------------------*/

a:link,
a:visited{
    color:#555555;
    text-decoration: none;
    border-bottom: 1px solid #fed330;
    padding-bottom: 5px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color:#555;
    border-bottom: 1px solid transparent;/*make border disappear*/
}

/*------------------------------*/
/*buttons */
/*------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color:#fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,             /*specifications for the hoover effects, and mouse over , mouse clicking the button*/
.btn-full:visited,
input[type=submit]{     /* only contact forms choosing fields only with the sepcified type inside*/
    background-color: #ee1a00;
    border:1px solid #ee1a00;
    color:#fff;
    margin-right: 30px;
    margin-bottom: 5px;
}


.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid  #ee1a00;
    color:#f76448;

}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{ background-color: #ea2020;  }

.btn-full:hover,
.btn-full:active,
input[type=submit]{ background-color: #ff3838; }

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #ff3838;
    color:#fff;

}

/*------------------------------*/
/*header and main image ("hero")*/
/*------------------------------*/

.image_hero_index,
.image_hero_food,
.image_hero_bier,
.image_hero_connect
{

    background-size:cover;
    background-position: center;
    height: 100vh;/*one full screen*/
    background-attachment: fixed;

}
.image_hero_food{    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)),url(img/hero_big_images/grill.jpg);/*shadow effect on image, double layer*/}
.image_hero_bier{    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)),url(img/hero_big_images/taste.jpg);/*shadow effect on image, double layer*/}
.image_hero_connect{    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)),url(img/hero_big_images/glasses.jpg);/*shadow effect on image, double layer*/}
.image_hero_index{    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)),url(img/hero_big_images/biergarten.jpg);/*shadow effect on image, double layer*/
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);/* tansformation of the distances in the smae row with  the specified dimensions*/
}


.logo{
    height: 116px;
    width: auto;
    float:left;
    margin-top: 20px;
    border:1px double #917e7e;
    border-radius: 41%;
    margin-bottom: 5px;


}
.logo-borders{

    height: 57px;
    width: auto;
    float:left;
    margin-top: 5px;
    border:1px double #917e7e;
    border-radius: 41%;
    display: none;
    margin-bottom: 5px;


}

/* main navigation */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
    font-weight: 700;

}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active{ border-bottom: 2px solid #ff3838; }


/* mobile navigation */
/*-*-*-*-*-*-*-*-*-*-**-*-*/

.mobile-nav-icon{
    float:right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}
.mobile-nav-icon i {
    font-size: 200%;
    color:#bac114;

}

/* sticky navigation */
/*-*-*-*-*-*-*-*-*-*-**-*-*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 3px 2px #FFD200;
    z-index: 1803;
}

.sticky .main-nav{ margin-top: 22px; }


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 20px 0px;
    color:#555;

}
.sticky .logo{
    display: none;
}

.sticky .logo-borders{
    display: block;
}

/*------------------------------*/
/*meals first page*/
/*------------------------------*/

.meals-diapositive{
    padding: 0;
    margin-bottom: 10%;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float:left;
    width: 25%;
}

.meal-photo{
    margin: 0;
    width: 100%;
    overflow: hidden; /*the excess of image made for the hover effect will not be visible*/
    background-color: #000;
}

.meal-photo img{
    opacity: 0.6;
    width: 100%;
    height:250px;
    transform: scale(1.15); /*gets the image at 115% bigger*/
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

}

/* food meals page and text setings*/
/*-*-*-*-*-*-*-*-*-*-**-*-*/

.features-slider, .slider-box, .food_menu {
    padding: 0;    /*padding reseter*/
    margin-bottom: 40px;}

.title{padding: 7px;
    background-color:#f9f9f9;
    display: inline-block;
    color: black;
}

.subtitle{background-color:#cfcfcf;
          padding: 5px;
         display: inline-block;
}

.food_menu{font-size: 16px;}

.food_price{float:right;}

.menu-text{
    line-height:  155%;
    white-space:pre-wrap;
    display: inline;
}
.COVID19,
.main-nav{font-family: "Laila", "Arial", sans-serif;}

.important-info{width: 100%;}

.title_menu{
    /*border-bottom: 1px solid #f5f52e;*/
    margin-top: 2px;
    position: relative;
    width: 30%;
        font-size:larger;
}

.title_menu:after{
   content:'';
    width: 0%;
    height: 2px;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0; left: 100%;
    border-radius: 10px;
    transition: all 700ms ease;
}

.title_menu:hover::after{
    left:0%;
    width:100%;

}

.menu_icon{
    margin-left: 15px;
    font-size:22px;
}

/*icons animations css effects for food in index page*/

.icon-box_down_orange{
   border-bottom: 2px double #ffcc22;}
.icon-box_down_grey{
   border-bottom: 2px double #5f4444;}
.icon-box_down_red{
    border-bottom: 2px double #d40000;}

.ikon_2{
    transition: 1s 0s linear;
}
.animate-coffee{
    -moz-transform: scale(1.2) rotate(-5deg);
    -webkit-transform: scale(1.2) rotate(-5deg);
    -o-transform: scale(1.2) rotate(-5deg);
    -ms-transform: scale(1.2) rotate(-5deg);
    transform: scale(1.2) rotate(-5deg);
}

.animate-upload{
    -moz-transform: scale(1.2) translateY(-10px);
    -webkit-transform: scale(1.2) translateY(-10px);
    -o-transform: scale(1.2) translateY(-10px);
    -ms-transform: scale(1.2) translateY(-10px);
    transform: scale(1.2) translateY(-10px);
}

/* beer & drinks setings*/
/*-*-*-*-*-*-*-*-*-*-**-*-*/

main{
    background-color: #fff;
    max-width: 85%;
    overflow: hidden;
    margin: auto;
    padding: 0 1%;
}

.main-header {
    heigt:55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.main-header:after {
        display: block;
    height: 2px;
    background-color: #ee1a00;
    content:"";/*always specify content for pseudoclases*/
    width: 100px;
    margin:0 auto;
    margin-top: 30px;
}

.main-header  h3{ font-size:45px;
                margin-top: 20px;
                margin-bottom: 25px;
                line-height: 1.2;

}

.main-header  h3 span {color: #b50d10;}
.main-header p{font-size: 28px;}
.img { width: 100%;}

.card {
    display: grid;
    grid-template-columns:repeat(2, 50%);
    grid-gap: 20px;
    background: #f1f1f1;
    margin-bottom: 32px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #ffeca6, 5px 5px 15px 5px rgba(0,0,0,0);
}

.drink_price{
    float:right;
    margin-right: 20%;

}
.card h3{
    margin-bottom:32
}

.card img {
    height: 400px;
    padding: 15px;
    border-radius: 35px;
    width: 90%;
}

.card > div {  /*direct follower ">" css selector */
    padding: 32px;
}

.bier-list li{
    list-style: none;
    line-height: 160%;
}
.bier-list-title {
    font-size: 24px;
    font-weight: 500;
}

.card:nth-child(even) img { /*pseudo selector css for child element with even number*/
    order:2;
}

.btn-drink{
    display: inline-block;
    background: #f42727;
    color:#fff;
    padding: 14px 28px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}



#about-drinks {
    background-color: #fff;
}

.drinks-box{color:#555;}

.menu-section{
        width: 90%;
    margin: 0 auto;
    margin-bottom: 7%;
    border-bottom: 1px solid yellow;
    padding: 5px;
    margin-left: 20px;

}

.menu-section-title,
.menu-items{
        margin-left: 35%;
    margin-bottom: 24px;
    line-height: 145%;
}

.Biergarten1,
.Biergarten2,
.Biergarten3{
    height: 300px;
    width: 90%;
    margin:10 auto;
    margin-bottom: 45px;
}



/* slider setings*/
/*-*-*-*-*-*-*-*-*-*-**-*-*/

.mySlides {display: none}
img {vertical-align: middle;}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}
.mySlides img{height: 550px;}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
color: #120202;
font-size: 22px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
top:1px;
width: 100%;
text-align: center;
font-weight: 600;

}
/* Number text (1/10 etc) */
.numbertext {
color: #1c0001;
font-size: 14px;
padding: 8px 12px;
position: absolute;
top: 0;
right:    0;
font-weight:600;
}
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #999999;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #111111;
}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 480px) {
.prev, .next,.text {font-size: 11px}
.features-slider{width: 90%;
                margin: 0 auto;}

}

/*--------------------------------*/
/*price offers section with modal*/
/*-------------------------------*/
.offers-box:first-child{
    padding-right: 3%;
    margin-left: 10%;
    width: 35%;
    color:#fff;
    margin-top: 5%;
}

.offers-box:last-child{margin-top: 5% }

.modal_luncher{
    position:absolute;
    left: 62%;
    transform: translate(-50%, -50%);
}

.modal_button a{
    color:#5b5b5b;
    padding: 2px;
    margin-bottom: 5px;
}

.modal_button{
    background: #fed330;
    padding: 10px 15px;
    color:#cc0000;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,00.75);
    transition: 0.4s;
    border-radius: 10px;
}

.modal_button:{
    background: #f22727;
    color:#fff;
}
.modal-header {padding:35px 50px;}

/*---------modal setings popup------*/

.popup{
    background: rgba(0,0,0,0.6);
    width:100%;
    height: 100%;
    position: absolute;
    display: none;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 310px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input{
    margin: 20px auto;
    display:block;
    width:50%;
    padding: 8px;
    border: 1px solid #fed330;
}

.close{
    position: absolute;
    top:-15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,00.75);
    cursor: pointer;
}

.bier{margin-right: 27px;}



/*------------------------------*/
/*enjoy-section*/
/*------------------------------*/

.enjoy-section{ background-color: #fffefe; }

.enjoy-box:first-child{
    padding-right: 3%;
    margin-left: 10%;
    width: 35%;
    color:#fff;
    margin-top: 13%;
}

.enjoy-box,.offers-box{ margin-top: 30px; }

.enjoy-box:last-child{margin-top: 0% }

.free_offer_image{ width: 100%;}
.Biergarten{ width:90%;
            height: 400px; }

.btn-app{
    width: 100px;
    height: 100px
}

.steps_enjoy{ margin-bottom: 50px;}

steps_enjoy:last-of-type{ margin-bottom: 180px; }

.steps_enjoy div,
.alert{
    color:#ee1a00;
    border:2px solid #ee1a00;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px;
    float:left;
    font-size:150%;
    margin-right: 25px;
}


#black{ border:2px solid #000; }

#yellow{border:2px solid #fed330; }

.btn-app:link,
btn-app:visited{ border: 0; }

.btn-app img{
    height: 205px;
    width: 200px;
    margin: 10px;

}

/*------------------------------*/
/*cities-section*/
/*------------------------------*/

.box img{
    height: auto;
    width: 100%;
    margin-bottom: 50px;

}

.city-feature{ margin-bottom:5px; }

/*------------------------------*/
/*testimonials*/
/*------------------------------*/

.section-testimonials{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8)));
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/feedback.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;/*fixing the image so that remains in the same place*/
    }

blockquote{
    padding: 2%;
    font-style: Montserrat;
    line-height: 145%;
    position: relative; /* because i have used absolute position in one of the kids from this element*/
        margin-top:40px;

}

cite{
   font-size:90%;
   margin-top: 25px;
    display: block;
}

blockquote:before{  /*brackets opening symbol*/
    content:"\201C";
    font-size:500%;
    display: block;
    position: absolute; /* must have a parent with absolute position in order to work correctly*/
    top:-5px;
    left:-5px;

}

cite img{
    height:45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}



/*------------------------------*/
/*Summer offers special*/
/*------------------------------*/
.special-summer-offers, .map-box{ background-color: #e8e8e8; }

.price-offer{
    background-color:#fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-shadow: 0 2px 2px #ededed;
    box-shadow: 0 2px 2px #ededed
}

.price-offer div{
    padding: 15px;
    border-bottom: 1px solid #e6dfdf;
    text-align: center;
}

.price-offer div:first-child{
    background-color: #fff7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price-offer div:last-child{
    text-align: center;
    border:0;

}

.offerSpecialPrice{
    font-size:300%;
    margin-bottom: 10px;
    font-weight: 100;
    color:#ee1a00;

}

.offerSpecialPrice span{
    font-size:30%;
    font-weight:300;

}

.offerMeal{ font-size:80%; }

.price-offer ul{
    list-style: none;
    margin-left: 10px;
}

.price-offer ul li { padding: 5px 0; }

/*hoover text effect with adress text*/

 .text-hoover{
      position:relative;
      padding:0;
      width: 100%;
      display:block;
      cursor:pointer;
      overflow:hidden;
      }
 .content {
      opacity:0;
      position:absolute;
      top:0;
      left:0;
      color:#1c87c9;
      background-color:rgba(200,200,200,0.5);
      width:100%;
      height:78%;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      text-align:center;
}
.text-hoover .content:hover { opacity:1; }
.text-hoover .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
 .text-hoover .content:hover .text {
    opacity:1;
    transform: translateY(7%);
    -webkit-transform: translateY(0%);
}

/*------------------------------*/
/* Form */
/*------------------------------*/

.contact-section{
    padding: 0;

}
.form-box{
    background-color: rgba(255,255, 255, 0.8);
    height: auto;
    padding-top: 60px;
    margin-top: 50px;
}

.contact-form{
    width: 60%;
    margin: 0 auto;

}

                /* only contact forms with the capacity of choosing fields only with  he sepcified type inside*/
select,
textarea {
    width:100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; /*input[type=submit],/*input[type=email] theese selectors don´t work for unknown reason and that is why using ID   */
}
#name{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

#email{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 15px;

}

textarea{ height: 100px; }

input[type=checkbox] { margin: 10px 5px 10px 0; }

.connect-titles{margin-top: 6%}

*:focus{  outline: none; } /*desactivate the default chome outlining in blue from the  form*/


.form-messages{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color:#333;

}
.success{
    background-color: rgba(41, 221, 76, 0.76);
}

.error{
    background-color: rgba(216, 11, 11, 0.72);
}


/*------------------------------*/
/* Footer */
/*------------------------------*/

footer{
    background-color: #212421;
    padding:20px;
    font-size:90%;
}
.contact-footer{
    margin-top: 20px;
}

.footer-nav{
    list-style: none;
    float:left;
}

.social-icons{
    list-style: none;
    float:right;
    color:#fd0000;
}

.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;

}

.footer-nav li:last-child
.social-icons li:last-child{
   margin-right: 0;

}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color:#fd0000;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#cccccc;
}

.social-icons li a:hover,
.social-icons li a:visited{
    font-size: 190%;
}

.ion-social-googleplus-outline,
.ion-social-instagram-outline,
.ion-social-twitter-outline,
.ion-social-facebook-outline{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    margin: 0 5px;

}

.ion-social-facebook-outline:hover,
.ion-social-facebook-outline:visited{
    color:#3b5998;

}

.ion-social-twitter-outline:hover,
.ion-social-twitter-outline:visited{
    color:#3f729b;
}

.ion-social-instagram-outline:hover,
.ion-social-instagram-outline:visited{
    color:#dd4b39;

}

.ion-social-googleplus-outline:hover,
.ion-social-googleplus-outline:visited{
    color:#517fa4;
}

.ion-social-linkedin-outline:hover,
.ion-social-linkedin-outline:visited{
    color:#0e76a8;
}

footer p{
    color:#645b5b;
    margin-top: 20px;
    color: #ed0606;
    text-align: center;
    font-weight: 500;

}

.footer-header{margin: auto;}



/*------------------------------*/
/*map API*/
/*------------------------------*/
#map{
  height: 650px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -15px;
}

#map-header{
    margin-top: 10%;
    margin-bottom: 5%;
}
